.content {
    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    h1, h2 {
        &:not(:first-child) {
            margin-top: 60px;
        }
    }

    pre {
        background-color: transparent;
        padding: 0;
        box-shadow: 0 0 3px #999;

        code {
            padding: 1.25rem 1.5rem;
        }
    }
}
