$logo-background-color: #eee;
$logo-fake-padding: 2px;
$logo-margin: 5px;

.navbar-brand .navbar-item {
    font-family: $brand-family;
    font-weight: 300;
    font-size: 24px;
    text-transform: lowercase;

    img {
        background-color: $logo-background-color;
        border-radius: 5px;
        box-shadow: 0 0 0 $logo-fake-padding $logo-background-color;
        margin-right: $logo-fake-padding + $logo-margin;
    }
}
