@import "~bulmaswatch/journal/variables";

// My variables
$salmon: #f4645f;
$facebook: #3b5998;
$twitter: #00aced;
$reddit: #ff4500;
$linkedin: #0077b5;

// Variables overrides
$primary: $salmon;
$danger: $red;
$body-background-color: #eee;
$body-line-height: 1.7;
