.post-header,
.post-body,
.post-share {
    margin-bottom: 3rem;
}

.post-body h2::before {
    content: "$";
    margin-right: 7px;
    font-weight: 400;
    color: $salmon;
    opacity: 0.6;
}

.post-share {
    text-align: center;

    .button {
        color: #fff;
        min-width: 130px;
        margin-bottom: 5px;
    }
}

@each $key, $value in $social {
    span[data-link="#share-#{$key}"] .button {
        background-color: $value;
    }
}

.post-comments {
    max-width: 700px;
    margin: 0 auto;
}
