.post-header,
.post-body,
.post-share {
    margin-bottom: 3rem;
}

.post-body h2::before {
    content: '$';
    margin-right: 7px;
    font-weight: 400;
    color: $salmon;
    opacity: 0.6;
}

.post-share {
    text-align: center;

    .button {
        color: #fff;
        min-width: 130px;
        margin-bottom: 5px;
    }
}

[data-link="#share-facebook"] .button {
    background-color: $facebook;
}

[data-link="#share-twitter"] .button {
    background-color: $twitter;
}

[data-link="#share-reddit"] .button {
    background-color: $reddit;
}

[data-link="#share-linkedin"] .button {
    background-color: $linkedin;
}

.post-comments {
    max-width: 700px;
    margin: 0 auto;
}
